body{
    margin-left: 25px;

}
.chat{
    background-color: aliceblue;
    border-radius: 15px;
    display: inline-block;
    padding: 20px;
}
.msg{
    background-color: dodgerblue;
    padding: 10px 15px ;
    border-radius: 20px;
    color: white;
}
.control{
    display: flex;
    justify-content: space-evenly;
}