div{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border: 1px solid black;
    margin: 5px;
    /*display: inline;  as it is inline so browser cant see the height width ans color thats why we use inline-block*/
    display: inline-block;
    

}