<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your Post</title>
</head>
<body>
    <h1>Edit yout post</h1>
    <p>Post id:<%= post.id%> </p>
    <p>Username : <%=post.username%></p>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea name="content" id="" cols="30" rows="5" placeholder="Enter to edit the post"><%=post.content %></textarea>
        <button>Edit</button>
    </form>
    
</body>
</html>