*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100vh;
}
#back{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
#workingarea{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4% 0;
}
#nav img{
    pointer-events: all;
    cursor: pointer;
    height:60px ;
}
#nleft,#nright{
    pointer-events: all;
    display: flex;
    align-items: center;
    gap: 3rem;
}
#nleft a{
    pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    color: white;
}
#nleft a:hover{
    text-decoration-line: underline;
   text-underline-offset: 1rem;
}
#nright a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    color: white;
}
#nright a:hover{
    text-decoration-line: underline;
   text-underline-offset: 1rem;
}


#hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#herol{
    min-width: 50%;
}
#herol .element{
    height: 9vw;
    overflow: hidden;
    position: relative;
}
#herol .element h1:nth-child(1){
    top: 0;
}
#herol .element h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: .9;
    font-family: "kajiro";
    color: white;
    font-weight: 100;
    font-size:10vw ;
}
#herol button{
    pointer-events: all;
    padding: .8vw 3vw;
    font-size: 3vw;
    font-family: "kajiro";
    margin-top: 2vw;
border-radius: 10px;
}
#herol button:hover{
background-color: #dfdddd;
cursor: pointer;

}
#heror{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 17%;
    color: #fff;
}

#heror p{
    text-align: right;
    font-size: 1rem;
    font-weight: 300;
}
#heror #imagediv{
width: 100%;
height: 170px;
margin-top:20px ;
margin-bottom: 30px;
background-image: url(https://images.unsplash.com/photo-1587045525473-4861b1f9b5b2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
background-size: cover;
background-position: center;
}
#heror p:nth-child(3){
    margin-bottom: 100px;
}
