*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper
{
     height: 700px;
     width: 610px;
     border: 2px solid red;
     background-color: yellow;

     display: grid;
     grid-template-rows: 100px 1fr  100px ;
     grid-template-columns: 200px 400px;
     grid-gap: 10px;
     grid-template-areas: 
     "hd hd"
     "side main"
     " ft ft";

}
.box{
    background-color: aqua;
    border: 2px solid black;
}
.header{
    grid-area: hd;
}
.side{
    grid-area: side;
}
.main{
    grid-area: main;
}
.foot{
    grid-area: ft;;
}