body{
    text-align: center;
}
.btn{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 10px solid black;
    margin: 20px;
}
.box-container{
    display: flex;
    justify-content: center;
}
.a{
    background-color: #d95980;
}
.b{
    background-color: #f99b45;
}
.c{
    background-color: #819449;
}
.d{
    background-color: #72DDF7;
}
.flash{
    background-color: white;
}
.user-flash{
    background-color:#FAEF5D;
}

@media screen and (max-width: 500px) {
    .btn {
        width: 100px; /* Adjust width for smaller screens */
        height: 100px;
        margin: 10px;
    }
}