h1{
    background-color: yellow;
    border: 2px solid black;
}
@media (max-width:400px) {
      h1{
        background-color: greenyellow;
    } 
    
}
@media(max-width:500px ) and (min-width:400px){
    h1{
        background-color: aqua;
    }
}
@media(orientation:landscape) {
    h1{
        background-color: blue;
    }
    
}