<% layout("layouts/boilerplate") %>
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1>Terms of Service</h1>
            <p>
                As a consumer who resides in the EEA you can access the European Commission’s online dispute resolution platform here: <a href="https://ec.europa.eu/consumers/odr">Click</a>. Please note that Airbnb is not committed nor obliged to use an alternative dispute resolution entity within the meaning of Directive 2013/11 EU to resolve disputes with consumers. The European Commission’s online dispute resolution platform is not available for residents of Switzerland or the United Kingdom.

Section 25 of these Terms contains an arbitration agreement and class action waiver that applies to all claims brought against Airbnb in the United States. Please read them carefully.
            </p>
            <h2>Disclaimer</h2>
            <p>
                The Airbnb Platform offers an online venue that enables users (“Members”) to publish, offer, search for, and book services. Members who publish and offer services are “Hosts” and Members who search for, book, or use services are “Guests.” Hosts offer accommodations (“Accommodations”), activities, excursions and events (“Experiences”), and a variety of travel and other services (collectively, “Host Services,” and each Host Service offering, a “Listing”). As the provider of the Airbnb Platform, Airbnb does not own, control, offer or manage any Listings, Host Services, or tourism services. Airbnb is not a party to the contracts entered into directly between Hosts and Guests, nor is Airbnb a real estate broker, travel agency, insurer or an organiser or retailer of travel packages under Directive (EU) 2015/2302. Airbnb is not acting as an agent in any capacity for any Member, except as specified in the Payments Terms of Service (“Payment Terms”). To learn more about Airbnb’s role see Section 17.
            </p>
        </div>
    </div>
</div>
