<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body>
    <h2>To delete the username :<%=data.USERNAME%> <br/>Enter password to Delete the username</h2>

    <form method="post" action="/user/<%=data.ID%>?_method=DELETE">
        <input type="password" placeholder="Enter password" name="PASSWORD">
        <button>Delete</button>

    </form>
    
</body>
</html>