<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Item</title>
</head>
<body>
    <h2>Add New User Information</h2>
    <form action="/user/new" method="POST">
        <input type="email" name="EMAIL" placeholder="Enter the email">
        <input type="text" name="USERNAME" placeholder="Enter the username">
        <input type="password" name="PASSWORD" placeholder="Enter the password">
        <button>Add</button>
    </form>
    
</body>
</html>