<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing eDlit. Dolore nulla labore quam rerum. Quas tempore non distinctio repellat quis maiores saepe, ducimus commodi aliquid ipsa eum vero hic iure voluptas labore odio pariatur corrupti sapiente sed.</p>
 <button>Submit</button>
</body>
</html>