<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new chats</title>
</head>
<body>
    <h1>Add a new Conversation</h1>
    <form method="POST" action="/chats">
        <input type="text" placeholder="Add sender name" name="from">
        <br><br>
        <textarea name="msg"  cols="30" rows="3" placeholder="add massagae"></textarea>
        <br><br>
        <input type="text" name="to" placeholder="add receiver">
        <button>Add chat</button>
    </form>
    
</body>
</html>