.box,#outer{
    height: 100px;
    width: 100px;
    background-color: rgb(38, 196, 64);
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in 0.2s;

}
.box:hover{
    margin-top: 400px;

}
#outer{
    transform: rotate(45deg);
    transform: scale();
    transform: translate(100px,100px) ;
}
#outer:hover{
    box-shadow: 5px 2px 10px yellow;
}