<link rel="stylesheet" href="/CSS/style.css">
<title>Airbnb | Holiday rentals, cabins, beach houses & more</title>
<link rel="icon" href="https://www.pngall.com/wp-content/uploads/13/Airbnb-Logo.png">
<div class="home-page">
    <h1 id="home-heading">Welcome To
        Airbnb</h1>
    <h2 id="home-para">Airbnb Full Stack Clone</h2>
    <br>
    <div class="wrapper">
        <a href="listings" id="btn">Go To Main Page</a>
    </div>

</div>