/* Index */
.up{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: #B92B27;
}
h3{
    color: purple;
} 
#login{
    background-color: white;
}
#signup{
    background-color: #B92B27;
    color: white;
}
.up{
    background-color: green;
    color: white;
}

/* decendant seletor */
.post a{
    color: purple;
    background-color: yellow;


}
nav ul li a { 
    color: rgb(207, 57, 82);
}
p +h3{
    text-decoration: red underline;
}

/* Adjacent Combinator */
.up + button{
    background-color: cornflowerblue;
   color: white;
}

/* Child Combinator */
div>input{
    background-color: rgb(0, 255, 0);
}

/* Attribute Selector */
input[type="text"]{
    color: red;
}
input[type="password"]{
    color: rgb(230, 253, 17);
}

/* Pseudo CLASS */
button:hover{
    background-color: black;
    color: white;
}
button:active{
    background-color: orange;
    color: black;
}

input[type="radio"]:checked +label{
    font-weight: bold;
    color: red;
}