*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 15px;
}
#nav2{
    display: flex;
    align-items: center;
    gap: 15px;
}
#nav h3{
    text-transform: uppercase;
    font-size: 20px;
}
.main h1{
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 120px;
    width: 80%;
    left: 10%;
    position: relative;
    z-index: 100;
}
.main h1:nth-child(2){
    margin-top: 180px;
}
.main h1:nth-child(3){
    text-align: center;
}
.main h1:nth-child(4){
    text-align: center;
}
img{
    position: absolute;
    width: 300px;
    top: 12%;
    left: 40%; 
}
#img2{
    rotate: 10deg;
}
#img3{
    rotate: 20deg;
}