<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Username </title>
</head>
<body>
    <h2>Edit the username <%=data.USERNAME%></h2>

    <form action="/user/<%=data.ID%>?_method=PATCH" method="POST">
        <textarea name="USERNAME" id="" cols="30" rows="5"><%=data.USERNAME%></textarea>
        <br>
        <input type="password" name="PASSWORD" placeholder="Enter the password">
        <button>Edit</button>
    </form>

     
</body>
</html>