<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 >Quora post</h1>
    <% for(post of posts){ %>
        <div class="post">
         <h3 class="user"> @<%=post.username%></h3>
         <h4 class="content"> <%=post.content%></h4>
         <h5> <a href="http://localhost:3000/posts/<%=post.id%>">See in Details</a></h5>
         <h5> <a href="http://localhost:3000/posts/<%=post.id%>/edit">Edit the post</a></h5>
        </div>
  <% } %> 
  <a href="http://localhost:3000/posts/new">Add new Post</a>
</body>
</html>
