<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creaate a new post</title>
</head>
<body>
    <form method="post" action="/posts" >
        <input type="text" name="username" placeholder="Enter username"> <br><br>
        <textarea name="username" placeholder="write your post" cols="30" rows="5"></textarea>
        <button>Submit post</button>
    </form>
    
</body>
</html>