<link rel="stylesheet" href="/CSS/style.css">
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img id="logoid" src="https://i.pinimg.com/564x/3d/98/42/3d9842f6aefb1e16a6b8e5df66681921.jpg" alt="">
      </a>
      <button class="navbar-toggler"
       type="button"
        data-bs-toggle="collapse"
         data-bs-target="#navbarNavAltMarkup"> 
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-link" href="/listings">Home</a>
          <a class="nav-link" href="/listings">All Listings</a>
          <a class="nav-link" href="/listings/new">Add Listings</a>
        </div>
      </div>
    </div>
  </nav>