<%layout("layouts/boilerplate") %>
<div class="row ">
    <div class="alert alert-danger col-6 offset-3 " role="alert"> 
        <h4><%= message %></h4>
    </div>
    <div class="errorgif">
        <img src="https://media1.tenor.com/m/pXkMsRTZRXYAAAAC/this-is-a-mistake-john-cusack.gif" >
    </div>
</div>