*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#page1{
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page2{
    width: 100%;
    height: 100%;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3{
    width: 100%;
    height: 100%;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}
#circle{
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    border-radius: 50%;
}