.face{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #ffa511;
}
.mouth{
    width: 200px;
    height: 75px;
    background-color:brown ;
    border-bottom-left-radius:50px ;
    border-bottom-right-radius:50px ;
    position: absolute;
    top: 270px;
    left: 100px;
}
.eye{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}
#eye1{ 
    top: 100px;
    left: 70px;
}
#eye2{ 
    top: 100px;
    left: 270px;
}
.toung{
    width: 95px;
    height: 170px;
    background-color:rgb(172, 85, 85) ;
    border-bottom-left-radius:50px ;
    border-bottom-right-radius:50px ;
    position: absolute;
    top: 270px;
    left: 150px;
}