#container{
  height: 300px;
  width: 80%;
  background-color: azure;
  margin: 10px auto;
  border: 2px solid black;
  display: flex ;
  flex-direction: row;
  /* flex-direction: row-reverse; */
 /* justify-content: space-around; */
   align-items: flex-start;
   flex-wrap: wrap;
 
}
h1{
    text-align: center;
}
#container div{
    height: 50px;
    width: 300px;
    font-size: 1.5em;
    text-align: center;
}